<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.benbvs.cordova.exoplayer"
      version="0.0.1">

    <name>exoplayer</name>
    <description>Cordova exoplayer</description>
    <license>Apache 2.0</license>
    <keywords>cordova,exoplayer</keywords>
	<js-module src="www/exoplayer.js" name="exoplayer">
    <clobbers target="exoplayer" />
	</js-module>
	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="exoplayer">
                <param name="android-package" value="com.benbvs.cordova.exoplayer.exoplayer"/>
            </feature>
        </config-file>
		<source-file src="android/exoplayer.java" target-dir="src/com/benbvs/cordova/exoplayer" />
		<source-file src="android/exoplayer.jar" target-dir="libs" />
    </platform>
</plugin>
